# 8회차

# 1. 작업 1유형
* 참고 영상 : https://www.youtube.com/watch?v=I_7WhVRrsb4

### 1-1. 주어진 데이터 기준으로 와인 소비량이 가장 많은 대륙(Continent) 내에서 와인 소비량이 2번째로 많은 국가(Country)의 와인 소비량을 구하시오.

In [4]:
import pandas as pd
import numpy as np

data = [
    ["SouthKorea", 40.2, "Asia"],
    ["Japan", 50.5, "Asia"],
    ["China", 25.3, "Asia"],
    ["India", 10.4, "Asia"],
    ["Thailand", 35.6, "Asia"],
    ["Germany", 110.7, "Europe"],
    ["France", 90.8, "Europe"],
    ["Italy", 60.1, "Europe"],
    ["Spain", 70.4, "Europe"],
    ["Belgium", 85.2, "Europe"],
    ["USA", 95.7, "NorthAmerica"],
    ["Canada", 80.5, "NorthAmerica"],
    ["Mexico", 50.3, "NorthAmerica"],
    ["Brazil", 65.5, "SouthAmerica"],
    ["Argentina", 45.7, "SouthAmerica"],
    ["Chile", 30.8, "SouthAmerica"],
    ["SouthAfrica", 55.6, "Africa"],
    ["Nigeria", 20.5, "Africa"],
    ["Egypt", 15.2, "Africa"],
    ["Australia", 105.8, "Oceania"],
    ["NewZealand", 94.5, "Oceania"]
]

df = pd.DataFrame(data, columns=["Country", "와인소비량", "Continent"])

df.head()

      Country  와인소비량 Continent
0  SouthKorea   40.2      Asia
1       Japan   50.5      Asia
2       China   25.3      Asia
3       India   10.4      Asia
4    Thailand   35.6      Asia

In [47]:
# 와인 소비량이 가장 많은 대륙 찾기 위해 대륙 별 와인소비량 합 구하기

df2 = df.groupby("Continent").sum()
df2

              와인소비량
Continent
Africa         91.3
Asia          162.0
Europe        417.2
NorthAmerica  226.5
Oceania       200.3
SouthAmerica  142.0

In [49]:
# 대륙별 와인소비량이 가장 큰 값을 갖는 대륙명 찾기

continent_ = df2[df2["와인소비량"] == max(df2["와인소비량"])].index[0]
continent_

'Europe'

In [46]:
# 찾은 Europe에 속하는 Country 출력하기

df3 = df[df["Continent"] == continent_[0]]
df3

   Country  와인소비량 Continent
5  Germany  110.7    Europe
6   France   90.8    Europe
7    Italy   60.1    Europe
8    Spain   70.4    Europe
9  Belgium   85.2    Europe

In [50]:
# Europe에 속하는 나라의 와인소비량에 따른 내림차순 정렬

sorted_df = df3.sort_values("와인소비량", ascending=False)
sorted_df

   Country  와인소비량 Continent
5  Germany  110.7    Europe
6   France   90.8    Europe
9  Belgium   85.2    Europe
8    Spain   70.4    Europe
7    Italy   60.1    Europe

In [52]:
# 내림차순 된 df에 1번째의 와인소비량 출력

sorted_df.iloc[1]["와인소비량"]

90.8

### 1-2. 다음은 각 국가의 목적별 방문객 수를 나타낸 데이터이다.총 방문객 수 대비 관광목적의 여행자 비율이 3번째로 높은 국가의 사업 목적의 방문자수를 A, 관광 목적의 여행객이 2번째로 많은 국가의 공무 목적 방문자수를 B라고 할 때 A + B 값은 무엇인가?

In [55]:
import pandas as pd

data = [
    ["SouthKorea", 800, 150, 200],
    ["Japan", 900, 100, 220],
    ["China", 700, 180, 250],
    ["India", 600, 120, 210],
    ["Thailand", 750, 130, 180],
    ["Germany", 845, 110, 240],
    ["France", 780, 140, 200],
    ["Italy", 820, 170, 220],
    ["Spain", 740, 160, 210],
    ["Belgium", 790, 150, 190],
    ["USA", 950, 140, 240],
    ["Canada", 860, 130, 230],
    ["Mexico", 710, 120, 220],
    ["Brazil", 780, 110, 210],
    ["Australia", 900, 100, 210]
]

df = pd.DataFrame(data, columns=["국가", "관광", "공무", "사업"])

# 데이터 확인
df.head()

           국가   관광   공무   사업
0  SouthKorea  800  150  200
1       Japan  900  100  220
2       China  700  180  250
3       India  600  120  210
4    Thailand  750  130  180

In [57]:
# 총 방문객 수 개비 관광목적의 여행자 비율을 알기 위해 total, ratio 컬럼 생성

df["total"] = df["관광"] + df["공무"] + df["사업"]
df["ratio"] = df["관광"] / df["total"]

df

            국가   관광   공무   사업  total     ratio
0   SouthKorea  800  150  200   1150  0.695652
1        Japan  900  100  220   1220  0.737705
2        China  700  180  250   1130  0.619469
3        India  600  120  210    930  0.645161
4     Thailand  750  130  180   1060  0.707547
5      Germany  845  110  240   1195  0.707113
6       France  780  140  200   1120  0.696429
7        Italy  820  170  220   1210  0.677686
8        Spain  740  160  210   1110  0.666667
9      Belgium  790  150  190   1130  0.699115
10         USA  950  140  240   1330  0.714286
11      Canada  860  130  230   1220  0.704918
12      Mexico  710  120  220   1050  0.676190
13      Brazil  780  110  210   1100  0.709091
14   Australia  900  100  210   1210  0.743802

In [64]:
# 관광목적 여행자의 비율이 3번째로 높은 나라를 찾고 그 나라를 사업을 목적으로 방문한 사람의 수 뽑기

A = df.sort_values("ratio", ascending=False)
A = A.iloc[2]["사업"]
A

240

In [70]:
# 관광 목적의 여행객이 2번째로 많은 국가의 공무 목적 방문자수 찾기

B = df.sort_values("관광", ascending=False)
B = B.iloc[1]["공무"]
B

100

In [71]:
A + B

340

### 1-3. 주어진 데이터에서 관광변수와 공무변수를 각각 Min-max scaling을 진행한 다음 공무변수의 표준편차 - 관광변수의 표준편차 값을 구하시오. (단, 정답은 반올림하여 소수점 첫째자리까지 구하시오.)
* MinMaxScaler
* 표준편차

In [81]:
import pandas as pd

data = [
    ["SouthKorea", 800, 150, 200],
    ["Japan", 900, 100, 220],
    ["China", 700, 180, 250],
    ["India", 600, 120, 210],
    ["Thailand", 750, 130, 180],
    ["Germany", 845, 110, 240],
    ["France", 780, 140, 200],
    ["Italy", 820, 170, 220],
    ["Spain", 740, 160, 210],
    ["Belgium", 790, 150, 190],
    ["USA", 950, 140, 240],
    ["Canada", 860, 130, 230],
    ["Mexico", 710, 120, 220],
    ["Brazil", 780, 110, 210],
    ["Australia", 900, 100, 210]
]

df = pd.DataFrame(data, columns=["국가", "관광", "공무", "사업"])

# 데이터 확인
df.head()

           국가   관광   공무   사업
0  SouthKorea  800  150  200
1       Japan  900  100  220
2       China  700  180  250
3       India  600  120  210
4    Thailand  750  130  180

In [84]:
from sklearn.preprocessing import MinMaxScaler

# MinMaxScaler 진행
scaler = MinMaxScaler()

df[["관광", "공무"]] = scaler.fit_transform(df[["관광", "공무"]])

# 표준편차 계산
std_a = df["공무"].std()
std_b = df["관광"].std()

# 결과 계산
result = std_a - std_b
print(round(result, 1))

0.1

# 2. 작업 2유형
* 참고 영상 : https://www.youtube.com/watch?v=nZp80RJrz60

### 제 2유형 기출 문제파악
* 문제: 지하철 탑승인원수를 예측하기
* 회귀 or 분류: 회귀 문제
* 성능지표: MAE(Mean Absolute Error)


### 기출 데이터셋 주요 정보
* 독립변수(X): 11개(날씨, 날짜 등)
* 종속변수(Y): 지하철 탑승인원수(정수형)
* 데이터셋: train 약 12,000개 / test 약 2,000개
* 결측치: 없음


### 특이사항
* name 변수(지하철역명) 삭제시 감점처리 되는 경우, 30점 감점(10/40점)
* id, 특정 명칭 컬럼 함부로 삭제하면 안 됨.


### 데이터셋 설명

* temperature: 기온 (5도 ~ 35도 사이)
* humidity: 습도 (20% ~ 90% 사이)
* precipitation: 강수 여부 (0: 없음, 1: 있음)
* wind_speed: 풍속 (0 ~ 10 m/s)
* day_of_week: 요일 (0: 일요일 ~ 6: 토요일)
* is_holiday: 공휴일 여부 (0: 평일, 1: 공휴일)
* is_weekend: 주말 여부 (0: 평일, 1: 주말)
* hour: 시간대 (0시 ~ 23시)
* promotion: 승차장 내 프로모션 여부 (0: 없음, 1: 있음)
* school_vacation: 방학 여부 (0: 아님, 1: 방학)
* special_event: 특별 행사 여부 (0: 없음, 1: 있음)
* passenger_count: 지하철 탑승 인원
* name: 지하철 역 이름

In [2]:
# 데이터 생성 (수정금지)
import numpy as np
import pandas as pd

# 랜덤 시드 설정
np.random.seed(42)

# 데이터 수
n = 1000

# 독립변수 생성 (날씨, 날짜 등)
data = {
    'temperature': np.random.uniform(5, 35, n),  # 기온 (5도 ~ 35도 사이)
    'humidity': np.random.uniform(20, 90, n),   # 습도 (20% ~ 90% 사이)
    'precipitation': np.random.choice([0, 1], n, p=[0.7, 0.3]),  # 강수 여부
    'wind_speed': np.random.uniform(0, 10, n),  # 풍속 (0 ~ 10 m/s)
    'day_of_week': np.random.choice(range(7), n),  # 요일 (0: 월요일 ~ 6: 일요일)
    'is_holiday': np.random.choice([0, 1], n, p=[0.8, 0.2]),  # 공휴일 여부
    'is_weekend': np.random.choice([0, 1], n, p=[0.7, 0.3]),  # 주말 여부
    'hour': np.random.choice(range(24), n),  # 시간대 (0시 ~ 23시)
    'school_vacation': np.random.choice([0, 1], n, p=[0.8, 0.2]),  # 방학 여부
    'special_event': np.random.choice([0, 1], n, p=[0.95, 0.05])  # 특별 행사 여부
}

# 종속변수로 탑승 인원수 생성 (임의 공식 사용)
data['passenger_count'] = (
    300
    + 5 * data['temperature']
    - 2 * data['humidity']
    + 50 * data['precipitation']
    - 10 * data['wind_speed']
    - 20 * data['is_holiday']
    - 15 * data['is_weekend']
    + 3 * data['hour']
    + 50 * data['school_vacation']
    + 80 * data['special_event']
    + np.random.normal(0, 30, n)  # 노이즈 추가
)

# 종속변수는 정수형으로 변환
data['passenger_count'] = np.round(data['passenger_count']).astype(int)

# 데이터프레임으로 변환
df = pd.DataFrame(data)

# 독립변수 중에서 소수점이 있는 변수는 소수점 첫째 자리까지 반올림
df['temperature'] = np.round(df['temperature'], 1)
df['humidity'] = np.round(df['humidity'], 1)
df['wind_speed'] = np.round(df['wind_speed'], 1)

# 지하철 2호선 역 이름 추가
station_names = [
    '시청', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원', '신당',
    '성수', '건대입구', '구의', '강변', '잠실나루', '잠실', '잠실새내', '종합운동장',
    '교대', '서초', '방배', '사당', '낙성대', '서울대입구', '봉천', '신림', '신대방',
    '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌', '이대', '아현'
]

# 1000개 중 2호선의 역이 43개이므로 순환하며 채우기
name_variable = [station_names[i % len(station_names)] for i in range(1000)]

# 'name' 변수 추가
df['name'] = name_variable

# 범주형 데이터를 카테고리형으로 변환
categorical_columns = ['precipitation', 'day_of_week', 'is_holiday', 'is_weekend', 'school_vacation', 'special_event']
df[categorical_columns] = df[categorical_columns].astype('category')

# Train, Test 셋 나누기
train = df.iloc[:700]  # 초기 700개를 train으로
test = df.iloc[700:]  # 마지막 300개를 test로
y_test = test['passenger_count']  # 실제 시험에서는 주어지지 않습니다.
test = test.drop(['passenger_count'], axis=1)

# Train 데이터 확인
train.head(3)

,temperature,humidity,precipitation,wind_speed,day_of_week,is_holiday,is_weekend,hour,school_vacation,special_event,passenger_count,name
0,16.2,33.0,0,6.7,1,1,0,1,0,0,215,시청
1,33.5,57.9,0,8.0,4,0,0,22,0,0,328,을지로입구
2,27.0,81.1,1,2.5,4,0,1,21,0,0,353,을지로3가

### 문제 : 지하철 탑승인원 예측하기
* 회귀모델을 사용하여 MAE 값을 산출하시오.
* 예측값을 pred 변수에 담아 csv파일로 제출하시오.

### 1️⃣ 라이브러리 및 데이터 확인

In [3]:
import pandas as pd
import numpy as np

# 데이터 나누기
x_train = train.drop(["passenger_count"], axis=1)
y_train = train["passenger_count"]
x_test = test

### 2️⃣ 데이터 탐색

In [4]:
# 데이터 행, 열 확인
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(700, 11)
(300, 11)
(700,)

In [5]:
print(x_train.head())
print(x_test.head())
print(y_train.head())

   temperature  humidity precipitation  wind_speed day_of_week is_holiday  \
0         16.2      33.0             0         6.7           1          1
1         33.5      57.9             0         8.0           4          0
2         27.0      81.1             1         2.5           4          0
3         23.0      71.3             0         6.2           2          1
4          9.7      76.5             0         5.7           6          0

  is_weekend  hour school_vacation special_event       name
0          0     1               0             0         시청
1          0    22               0             0      을지로입구
2          1    21               0             0      을지로3가
3          0     4               0             0      을지로4가
4          0     3               0             0  동대문역사문화공원
     temperature  humidity precipitation  wind_speed day_of_week is_holiday  \
700         21.0      87.6             0         6.1           0          0
701          6.6      50.3             1         6.8           4          0
702         15.1      41.8             0         3.2           3          1
703          9.0      55.4             0         8.5           0          0
704          6.9      50.8             1         9.5           1          0

    is_weekend  hour school_vacation special_event   name
700          0    18               0             0    낙성대
701          1     8               0             0  서울대입구
702          1    12               0             0     봉천
703          0     7               0             0     신림
704          1    22               1             0    신대방
0    215
1    328
2    353
3    191
4    134
Name: passenger_count, dtype: int64

In [6]:
# 변수명과 데이터 타입이 매칭이 되는지, 결측치가 있는지 확인
print(x_train.info())
print(x_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   temperature      700 non-null    float64
 1   humidity         700 non-null    float64
 2   precipitation    700 non-null    category
 3   wind_speed       700 non-null    float64
 4   day_of_week      700 non-null    category
 5   is_holiday       700 non-null    category
 6   is_weekend       700 non-null    category
 7   hour             700 non-null    int64
 8   school_vacation  700 non-null    category
 9   special_event    700 non-null    category
 10  name             700 non-null    object
dtypes: category(6), float64(3), int64(1), object(1)
memory usage: 32.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 700 to 999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   temperature      300 non-null    float64
 1   humidity         300 non-null    float64
 2   precipitation    300 non-null    category
 3   wind_speed       300 non-null    float64
 4   day_of_week      300 non-null    category
 5   is_holiday       300 non-null    category
 6   is_weekend       300 non-null    category
 7   hour             300 non-null    int64
 8   school_vacation  300 non-null    category
 9   special_event    300 non-null    category
 10  name             300 non-null    object
dtypes: category(6), float64(3), int64(1), object(1)
memory usage: 14.6+ KB
None
<class 'pandas.core.series.Series'>
RangeIndex: 700 entries, 0 to 699
Series name: passenger_count
Non-Null Count  Dtype
--------------  -----
700 non-null    int64
dtypes: int64(1)
memory usage: 5.6 KB
None

In [7]:
# 수치형 데이터의 기초통계량 살펴보기
print(x_train.describe())
print(x_test.describe())
print(y_train.describe())

       temperature    humidity  wind_speed        hour
count   700.000000  700.000000  700.000000  700.000000
mean     19.784857   55.867571    4.896571   11.405714
std       8.851120   20.584012    2.850538    6.869182
min       5.200000   20.300000    0.000000    0.000000
25%      12.100000   36.850000    2.400000    6.000000
50%      20.100000   57.100000    4.900000   11.000000
75%      27.500000   73.725000    7.325000   17.000000
max      35.000000   90.000000   10.000000   23.000000
       temperature    humidity  wind_speed        hour
count   300.000000  300.000000  300.000000  300.000000
mean     19.530333   54.613333    4.918333   11.760000
std       8.572101   20.153021    2.903089    6.712122
min       5.100000   20.200000    0.100000    0.000000
25%      11.900000   36.875000    2.500000    6.000000
50%      19.250000   55.400000    4.650000   12.000000
75%      26.925000   71.600000    7.425000   17.250000
max      34.900000   89.900000    9.900000   23.000000
count    700.000000
mean     294.220000
std       83.312794
min       61.000000
25%      242.750000
50%      296.000000
75%      345.250000
max      546.000000
Name: passenger_count, dtype: float64

### 3️⃣ 데이터 전처리 및 분리
* 결측치
* 이상치
* 변수 처리하기

In [8]:
# 결측치 확인
print(x_train.isnull().sum())
print(x_test.isnull().sum())
print(y_train.isnull().sum())

temperature        0
humidity           0
precipitation      0
wind_speed         0
day_of_week        0
is_holiday         0
is_weekend         0
hour               0
school_vacation    0
special_event      0
name               0
dtype: int64
temperature        0
humidity           0
precipitation      0
wind_speed         0
day_of_week        0
is_holiday         0
is_weekend         0
hour               0
school_vacation    0
special_event      0
name               0
dtype: int64
0

In [9]:
# 이상치 확인 (유튜브 예시에서는 음수 값 존재해서 0으로 대체 해줌.)
negative_rows = (y_train<0).sum()
print(negative_rows)

# y_train 중에 0보다 작은 값을 0으로 바꿔주는 코드
y_train = y_train.copy()
y_train[y_train < 0] = 0

0

In [10]:
print(y_train.describe())

count    700.000000
mean     294.220000
std       83.312794
min       61.000000
25%      242.750000
50%      296.000000
75%      345.250000
max      546.000000
Name: passenger_count, dtype: float64

### LinearRegression : 25.64

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
import pandas as pd

# 1. 독립변수(X)와 종속변수(y) 분리
X_train = train.drop(['passenger_count', 'name'], axis=1)  # 독립변수: name 제외
y_train = train['passenger_count']  # 종속변수: passenger_count
X_test = test.drop(['name'], axis=1)  # Test 데이터에서도 name 제외

# 2. 회귀 모델 생성 및 학습
model = LinearRegression()
model.fit(X_train, y_train)

# 3. Test 데이터에 대한 예측
pred = model.predict(X_test)

# 4. MAE(Mean Absolute Error) 계산
mae = mean_absolute_error(y_test, pred)
print(f"Mean Absolute Error (MAE): {mae:.2f}")

# 5. 예측 결과를 데이터프레임으로 정리
pred_df = pd.DataFrame({
    'name': test['name'],  # 역 이름
    'actual_passenger_count': y_test,  # 실제 탑승 인원
    'predicted_passenger_count': pred  # 예측된 탑승 인원
})

# 6. 예측값을 CSV 파일로 저장
pred_df.to_csv('subway_predictions.csv', index=False)

print("예측값이 'subway_predictions.csv' 파일에 저장되었습니다.")

Mean Absolute Error (MAE): 25.64
예측값이 'subway_predictions.csv' 파일에 저장되었습니다.

### RandomForestRegressor : 33.96

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import pandas as pd

# 1. 독립변수(X)와 종속변수(y) 분리
x_train = train.drop(['passenger_count', 'name'], axis=1)  # 독립변수: name 제외
y_train = train['passenger_count']  # 종속변수: passenger_count
x_test = test.drop(['name'], axis=1)  # Test 데이터에서도 name 제외

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

# 2. RandomForestRegressor 모델 생성 및 학습
model = RandomForestRegressor(random_state=42)
model.fit(x_train, y_train)

# 3. Test 데이터에 대한 예측
pred = model.predict(x_test)

# 4. MAE(Mean Absolute Error) 계산
mae = mean_absolute_error(y_test, pred)
print(f"Mean Absolute Error (MAE): {mae:.2f}")

# 5. 예측 결과를 데이터프레임으로 정리
pred_df = pd.DataFrame({
    'name': test['name'],  # 역 이름
    'actual_passenger_count': y_test,  # 실제 탑승 인원
    'predicted_passenger_count': pred  # 예측된 탑승 인원
})

# 6. 예측값을 CSV 파일로 저장
pred_df.to_csv('subway_predictions_random_forest.csv', index=False)

print("예측값이 'subway_predictions_random_forest.csv' 파일에 저장되었습니다.")

Mean Absolute Error (MAE): 33.96
예측값이 'subway_predictions_random_forest.csv' 파일에 저장되었습니다.

### RandomForestRegressor with name column : 34.05

In [123]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import pandas as pd

# 1. 독립변수(X)와 종속변수(y) 분리
x_train = train.drop(['passenger_count'], axis=1)  # 독립변수: name 제외
y_train = train['passenger_count']  # 종속변수: passenger_count

x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

# 2. RandomForestRegressor 모델 생성 및 학습
model = RandomForestRegressor(random_state=42)
model.fit(x_train, y_train)

# 3. Test 데이터에 대한 예측
pred = model.predict(x_test)

# 4. MAE(Mean Absolute Error) 계산
mae = mean_absolute_error(y_test, pred)
print(f"Mean Absolute Error (MAE): {mae:.2f}")

# 5. 예측 결과를 데이터프레임으로 정리
pred_df = pd.DataFrame({
    'name': test['name'],  # 역 이름
    'actual_passenger_count': y_test,  # 실제 탑승 인원
    'predicted_passenger_count': pred  # 예측된 탑승 인원
})

# 6. 예측값을 CSV 파일로 저장
pred_df.to_csv('subway_predictions_random_forest.csv', index=False)

print("예측값이 'subway_predictions_random_forest.csv' 파일에 저장되었습니다.")

Mean Absolute Error (MAE): 34.05
예측값이 'subway_predictions_random_forest.csv' 파일에 저장되었습니다.

### LightGBM : 29.51

In [27]:
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_absolute_error
import pandas as pd

# 1. 독립변수(X)와 종속변수(y) 분리
X_train = train.drop(['passenger_count', 'name'], axis=1)  # 독립변수: name 제외
y_train = train['passenger_count']  # 종속변수: passenger_count
X_test = test.drop(['name'], axis=1)  # Test 데이터에서도 name 제외

# 2. LightGBM 모델 생성 및 학습
model = LGBMRegressor(
    n_estimators=100,  # 트리의 개수
    learning_rate=0.1,  # 학습률
    max_depth=-1,       # 최대 깊이 (-1은 제한 없음)
    random_state=42     # 랜덤 시드 고정
)
model.fit(X_train, y_train)

# 3. Test 데이터에 대한 예측
pred = model.predict(X_test)

# 4. MAE(Mean Absolute Error) 계산
mae = mean_absolute_error(y_test, pred)
print(f"Mean Absolute Error (MAE): {mae:.2f}")

# 5. 예측 결과를 데이터프레임으로 정리
pred_df = pd.DataFrame({
    'name': test['name'],  # 역 이름
    'actual_passenger_count': y_test,  # 실제 탑승 인원
    'predicted_passenger_count': pred  # 예측된 탑승 인원
})

# 6. 예측값을 CSV 파일로 저장
pred_df.to_csv('subway_predictions_lightgbm.csv', index=False)

print("예측값이 'subway_predictions_lightgbm.csv' 파일에 저장되었습니다.")

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000828 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 587
[LightGBM] [Info] Number of data points in the train set: 700, number of used features: 10
[LightGBM] [Info] Start training from score 294.220000
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
Mean Absolute Error (MAE): 29.51
예측값이 'subway_predictions_lightgbm.csv' 파일에 저장되었습니다.

---

# 3. 작업 3유형
* 참고 영상 : https://www.youtube.com/watch?v=XZQXbylRlSo

In [28]:
import pandas as pd
import numpy as np

import seaborn as sns
df = sns.load_dataset("titanic")

df = df[["survived", "pclass", "age", "parch", "sibsp", "fare"]]
df = df.dropna()

df.head()

   survived  pclass   age  parch  sibsp     fare
0         0       3  22.0      0      1   7.2500
1         1       1  38.0      0      1  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      0      1  53.1000
4         0       3  35.0      0      0   8.0500

### 3-1. 로지스틱 회귀분석 (15점, 각 소문제당 5점)
**<span style="color: #2D3748; background-color:#fff5b1;"> 주요 키워드: 유의한 변수, 회귀계수, 오즈비</span>**

survived를 종속변수(Y), 'pclass', 'age', 'parch', 'sibsp', 'fare' 변수를 독립변수(X)로 분석했을 때 아래 질문에 답하시오.
(단, 모든 답은 반올림하여 소수점 둘째자리까지 구하시오)

* 1-1. 전체 데이터를 모두 활용하여 로지스틱회귀분석 진행 후에 유의하지 않은 변수의 수는?

* 1-2. 1번 문제에서 유의한 변수만 사용하여 로지스틱회귀분석을 진행했을 때 회귀계수의 합계를 구하시오.

* 1-3. 만약 age 변수가 5단위 증가하면 오즈비(Odds ratio)는 몇 배로 변화하는가?

In [29]:
# 1-1) 0.05보다 작으면 유의하고 0.05보다 크면 유의하지 않은 변수이다. -> 정답 : 1개

from statsmodels.api import Logit

formula = "survived ~ pclass + age + parch + sibsp + fare"
results = Logit.from_formula(formula, df).fit()

print(results.summary())

Optimization terminated successfully.
         Current function value: 0.570854
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      708
Method:                           MLE   Df Model:                            5
Date:                Wed, 27 Nov 2024   Pseudo R-squ.:                  0.1548
Time:                        14:22:37   Log-Likelihood:                -407.59
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 1.848e-30
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.4010      0.505      6.732      0.000       2.411       4.391
pclass        -1.1530      0.146     -7.900      0.000      -1.439      -0.867
age           -0.0446      0.007     -6.181      0.000      -0.059      -0.030
parch          0.2479      0.109      2.273      0.023       0.034       0.462
sibsp         -0.2923      0.106     -2.755      0.006      -0.500      -0.084
fare           0.0033      0.003      1.299      0.194      -0.002       0.008
==============================================================================

In [38]:
# 1-2) coef : 회귀계수 / coef에 있는 모든 값 그냥 더하기 -> 정답 : 2.45

from statsmodels.api import Logit

formula = "survived ~ pclass + age+ parch + sibsp"
results = Logit.from_formula(formula, df).fit()

print(results.summary())
print(round(3.7520-1.2663-0.0452+0.2808-0.2733, 2))

Optimization terminated successfully.
         Current function value: 0.572247
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:               survived   No. Observations:                  714
Model:                          Logit   Df Residuals:                      709
Method:                           MLE   Df Model:                            4
Date:                Wed, 27 Nov 2024   Pseudo R-squ.:                  0.1528
Time:                        14:37:12   Log-Likelihood:                -408.58
converged:                       True   LL-Null:                       -482.26
Covariance Type:            nonrobust   LLR p-value:                 7.534e-31
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.7520      0.437      8.581      0.000       2.895       4.609
pclass        -1.2663      0.121    -10.476      0.000      -1.503      -1.029
age           -0.0452      0.007     -6.279      0.000      -0.059      -0.031
parch          0.2808      0.106      2.658      0.008       0.074       0.488
sibsp         -0.2733      0.104     -2.618      0.009      -0.478      -0.069
==============================================================================
2.45

In [36]:
# 1-3) A단위 증가하면 오즈비는 몇 배 증가하냐고 물어보면 A를 coef에 곱해서 exp 해주면 됨.
# 정답 : 0.8

print(round(np.exp(5*-0.0452), 2))

0.8

### 3-2. 다중선형 회귀분석 (15점, 각 소문제당 5점)

**<span style="color: #2D3748; background-color:#fff5b1;"> 주요 키워드: p-value, 회귀계수, Rsq, 예측값 구하기</span>**
* 2-1) 모델링 후 p-value가 가장 큰 변수의 회귀계수 값을 구하시오. -> 정답 : 0.0006

* 2-2) 1)에서 구한 다중선형회귀 모델의 결정계수(Rsq)를 구하시오. -> 정답 : 0.195

* 2-3) 1)에서 만든 모델에 x1 = 1, x2 = 30, x3 = 2, x4 = 1, x5 = 50 값을 대입하면 Y값은 얼마로 예측되겠는가? </br>-> 정답 : 0.763

In [46]:
# 2-1) p-value가 가장 큰 fare의 coef가 정답
# 2-2) 결정계수 = R-squared 이니 0.195가 정답

from statsmodels.api import OLS

formula = "survived ~ pclass + age + parch + sibsp + fare"
results = OLS.from_formula(formula, df).fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.195
Model:                            OLS   Adj. R-squared:                  0.189
Method:                 Least Squares   F-statistic:                     34.25
Date:                Wed, 27 Nov 2024   Prob (F-statistic):           2.20e-31
Time:                        15:16:01   Log-Likelihood:                -428.09
No. Observations:                 714   AIC:                             868.2
Df Residuals:                     708   BIC:                             895.6
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.1936      0.089     13.399      0.000       1.019       1.369
pclass        -0.2432      0.026     -9.414      0.000      -0.294      -0.192
age           -0.0086      0.001     -6.612      0.000      -0.011      -0.006
parch          0.0492      0.022      2.284      0.023       0.007       0.091
sibsp         -0.0575      0.020     -2.857      0.004      -0.097      -0.018
fare           0.0006      0.000      1.419      0.156      -0.000       0.001
==============================================================================
Omnibus:                      210.274   Durbin-Watson:                   1.920
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               47.052
Skew:                           0.343   Prob(JB):                     6.07e-11
Kurtosis:                       1.946   Cond. No.                         367.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [47]:
# 2-3) 다중선형회귀 식에 주어진 값 대입하면 끝

def function(x1, x2, x3, x4, x5):
    
    y = 1.1936 + (-0.2432*x1) + (-0.0086*x2) + (0.0492*x3) + (-0.0575*x4) + (0.0006*x5)
    
    return y

print(function(1, 30, 2, 1, 50))

0.7633000000000001